<?xml version="1.0"?>

<model>
  <name>Radar Plugin</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nicholas Jang</name>
    <email>nich.jang@utexas.edu</email>
  </author>
  <maintainer email="nich.jang@utexas.edu">Nicholas Jang</maintainer>


  <description>
    Radar plugin
  </description>
</model>