<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="radar">

     <link name="rad_link">
        <collision>
            <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
                <material name="blue"/>
                <!-- <mesh filename="package://husky_description/meshes/accessories/dummy_camera.dae" /> -->
            </geometry>
        </visual>

        <inertial>
            <mass value="1e-5" />
            <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>
    
    <joint name="radar_joint" type="fixed">
        <axis xyz="0.2 0 0.2" />
        <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="rad_link"/>
    </joint>

    <gazebo reference="rad_link">
        <sensor name="radar" type="logical_camera">
            <visualize>true</visualize>
            <always_on>true</always_on>
            <update_rate>10</update_rate>
            <plugin name="mode_c_radar" filename="libModeCRadarPlugin.so">
                <robotNamespace>radar</robotNamespace>
                <radar_sensor_frameid>rad_link</radar_sensor_frameid>
                <radar_topic_ros>radar_topic</radar_topic_ros>
                <position_noise>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.001</stddev>
                    </noise>
                </position_noise>
                <known_model_types>
                    <type>husky</type>
                    <type>delta_wing</type>
                </known_model_types>
            </plugin>
        </sensor>
    </gazebo>
</xacro:macro>
 </robot>