<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="radar">

<link name="rad_link">
    <!-- Physics of the AWR1642 -->
	<inertial>
      	<mass value= "0.25"/>
      	<inertia ixx = "0.001087473" iyy="0.001087473" izz ="0.001087473" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <collision name="AWR1642BOOST_collision">
      	<geometry>
        	<box size="0.1 0.2 0.01"/>
      	</geometry>
    </collision>

    <!-- The visual part of the boost -->
    <visual name="AWR1642BOOST_visual">
		<origin xyz="-0.14 0 0" rpy="1.5708 0 1.5708"/>
     	<geometry>
        	<box size="0.1 0.2 0.01"/>
      	</geometry>
    </visual>

	<!-- Physics for the DCA1000 component -->
   	<inertial>
   		<mass value="0.25"/>
    	<inertia ixx="0.000090623" iyy="0.000090623" izz="0.000090623" ixy="0" ixz="0" iyz="0"/>
   	</inertial>
    <collision name="DCA1000EVM_collision">
      	<geometry>
        	<box size="0.1 0.2 0.01"/>
      	</geometry>
    </collision>

	<!-- Visuals of the DCA1000EVM -->
    <visual name="DCA1000EVM_visual">
		<origin xyz="-0.19 0 0" rpy="1.5708 0 1.5708"/>
    	<geometry>
       		<box size = "0.1 0.2 0.01"/>
    	</geometry>
    </visual>
</link>

<!-- setting up a joint for the sensor -->    
<joint name="sensor_ray" type="fixed">
	<axis xyz="0.2 0 0.2" />
	<origin xyz="0.2 0 0.2" rpy="0 0 0"/>
	<parent link="base_link"/>
	<child link="rad_link"/>
</joint>

<!-- set up the gazebo reference --> 
<gazebo reference="rad_link">
	<sensor name="sensor_ray" type="ray">
		<visualize>true</visualize>
		<pose> 0 0 0 -1.57079632679 -1.57079632679 0.0 </pose>
		<ray>
			<scan>
				<!-- to adjust the horizontal and verticle samples -->
				<horizontal>
					<samples>100</samples>
					<min_angle>-0.523599</min_angle>
					<max_angle>0.523599</max_angle>
				</horizontal>

				<vertical>
					<samples>16</samples>
					<min_angle>-0.261799</min_angle>
					<max_angle>0.261799</max_angle>
				</vertical>
			</scan>

			<!-- to adjust the min/max hit distance for each laser -->
			<range>
				<min>0.15</min>
				<max>80.0</max>
			</range>
		</ray>

		<!-- to control the plugin and how much noise is on it -->
		<plugin name="plugin_1" filename="libgazebo_ros_block_laser.so">
			<gaussianNoise>0.00</gaussianNoise>
			<hokuyoMinIntensity>1</hokuyoMinIntensity>
			<alwaysOn>true</alwaysOn>
			<updateRate>5</updateRate>
			<topicName>radar</topicName>
			<frameName>base_link</frameName>
		</plugin>
	</sensor>
</gazebo>
</xacro:macro>
</robot>

