<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="radar">

     <link name="rad_link">
        <collision>
            <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.05 0.05"/>
                <material name="blue"/>
                <!-- <mesh filename="package://husky_description/meshes/accessories/dummy_camera.dae" /> -->
            </geometry>
        </visual>

        <inertial>
            <mass value="1e-5" />
            <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>
    
    <joint name="sensor_ray" type="ray">
        <axis xyz="0.2 0 0.2" />
        <origin xyz="0.2 0 0.2" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="rad_link"/>
    </joint>

    <gazebo reference="rad_link">
<sensor name="sensor_ray" type="ray">
    <visualize>true</visualize>
    <pose>0.1 0.0 0.0 -1.57079632679 -1.57079632679 0.0</pose>
    <ray>
      <scan>
        <horizontal>
          <samples>100</samples>
          <min_angle>-0.523599</min_angle>
          <max_angle>0.523599</max_angle>
        </horizontal>
        <vertical>
          <samples>16</samples>
          <min_angle>-0.261799</min_angle>
          <max_angle>0.261799</max_angle>
        </vertical>
      </scan>
      <range>
        <min>0.05</min>
        <max>80.0</max>
      </range>
    </ray>
    <plugin name="plugin_1" filename="libgazebo_ros_block_laser.so">
      <gaussianNoise>0.00</gaussianNoise>
      <hokuyoMinIntensity>1</hokuyoMinIntensity>
      <alwaysOn>true</alwaysOn>
      <updateRate>5</updateRate>
      <topicName>radar</topicName>
      <frameName>base_link</frameName>
    </plugin>
  </sensor>
    </gazebo>
</xacro:macro>
 </robot>
