<?xml version="1.0"?>

<model>
  <name>teamH8Sensor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Ryan Mitchell</name>
    <email>Optional: rmitchell97@utexas.edu</email>
  </author>

  <description>
    An altered model of a Velodyne HDL-32 LiDAR sensor.
  </description>

</model>
